
    .Home{
        background-color: Red;
        color: White;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        border: 0;
        border-radius: 20px;
        cursor: pointer;
        font-weight: bold;
        font-size: 16px;
        
    }
    .Courses:hover{
        background-color: green;
        color: red;
        font-weight: bold;
    }
    .Courses{
        margin: 10px;
        background-color: Red;
        color: White;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        border: 0;
        border-radius: 20px;
        cursor: pointer;
        font-weight: bold;
        font-size: 15px;
        transition: background-color 0.2s, color 0.2s;
        
    }
    .Home:hover{
        background-color: green;
        
    }
    .facebook{
        background-color: rgb(66, 103, 178);
        padding-left: 12px;
        padding-right: 13px;
        padding-top:3px;
        padding-bottom: 3px;
        font-weight: bold;
        color: white;
        font-size:25px;
        border-radius: 40px;
        border: 0;
        transition: box-shadow 0.15s;
        cursor: pointer;
    }
    .facebook:hover{
        box-shadow: 5px 5px 10px black;
    }
    .Heading{
        font-weight: bold;
        font-size: 22;
    }
    .class7{
        text-align-last: center;
        font-weight: bold;
    }
    .class8{
        margin-top: ;
        text-align-last: center;
        font-weight: bold;
    }
    .Class9{
        text-align-last: center;
        font-weight: bold;
    }
    .Html{
        font-family: Verdana;
        font-weight: bold;
        margin-bottom: 0px;
    }
    .begin{
        margin-top: 0px;
        font-family: Verdana;
        color: rgb(168, 153, 153);
        font-weight: 200;
    }
    .bakita{
        font-family: verdana;
        font-weight: 200;
        width: 300px;
    }
    .start{
        background-color: rgb(16, 120, 16);
        color: hsl(0, 21%, 86%);
        font-family: verdana;
        opacity: 0.9;
        padding-left: 18px;
        padding-right: 18px;
        padding-top: 8px;
        padding-bottom: 8px;
        border: 0;
        border-radius: 5px;
    }
    .shopping{
        font-family: Arial;
        font-weight: bold;
        font-size: 18;
        text-align:center;
        margin-bottom: 10;
    }
    .see{
        margin-top: 0;
        font-family: Arial;
        font-size: 12px;
        text-align: center;
        color: black;
    }
    .learn{
        font-family: Arial;
        color: rgb(82, 82, 175);
        text-align: center;
        font-size: 12;
    }
    .learn:hover{
        text-decoration: underline;
        cursor: pointer;
    }
    .Firstname{
       border-color: rgba(131, 122, 112, 0.2);
      border-radius: 7px;
      padding-left: 15px;
      padding-top: 9px;
      width: 150px;
      padding-bottom: 9px;
    }
     .Lastname{
       border-color: rgba(131, 122, 112, 0.2);
      border-radius: 7px;
      width: 150px;
      padding-left: 15px;
      padding-top: 9px;
      padding-bottom: 9px;
    }
    .Email{
         border-color: rgba(131, 122, 112, 0.2);
      border-radius: 7px;
      width: 304px;
      padding-left: 15px;
      padding-top: 9px;
      margin-top: 7px;
      display: block;
    
      padding-bottom: 9px;
    }
    .SignUp{
        background-color: rgb(17, 89, 212);
        color: white;
        font-weight: bold;
        padding-left:125px;
        padding-right:125px;
        padding-top: 9px;
        padding-bottom: 9px;
        font-family: Arial;
        border-radius: 5px;
        margin-top: 7px;
        border: 0;
        cursor: pointer;
    }
    .ride{
        font-family: Arial;
        font-weight: bold;
        font-size: 27px;
    }
    .pickup{
        border: 0;
        background-color: rgb(228, 231, 234);
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        width:300px;
        display: block;
    }
    .destination{
         border: 0;
        background-color: rgb(228, 231, 234);
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        width:300px;
        margin-top: 7px;
        display: block;
        margin-bottom: 25px;
    }
    .request{
        background-color: black;
        color: white;
        font-size: 12;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-right: 10px;
        cursor: pointer;
    }
    .schedule{
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        border: 0;
        background-color: rgb(228, 231, 234) ;
        cursor: pointer;
        opacity: 10px;
    }
    .circle{
        background-color: Green;
        height: 40px;
        width: 40px;
        border: 0;
        border-radius: 20px;
        color: white;
        opacity: 0.9px;
    }
    .nice{
        height: 30px;
        width: 30px;
        background-color: red;
        
    }
    .box{
        margin-top: 10px;
        background-color: rgb(255, 255, 255);
        width: 220;
        margin-bottom: 39px;
        border: 1px solid;
    }
    .satisfy{
        padding-left: 10px;
    }
    .yes{
       margin-left: 10px;
       margin-bottom: 10px;
    }
    .newbox{
        background-color: black;
        color: white;
        width: 350;
    }
    .Install{
        font-family: Arial;
        font-weight: bold;
        font-size: 20px;
        padding-left: 13px;
        padding-top: 14px;
    }
    .another{
         font-family: Arial;
         font-size: 13;
         color: grey;
         padding-left: 13px;
         padding-bottom: 14px;

         
    }
    .cat-pic{
        margin-top: 10px;
        height: 40;
        width: 40;
        border-radius: 60px;
        display: inline-block;
    }
    .check{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        border: 2px solid rgb(226, 214, 214);
        border-radius: 5px;
        width: 330px;
    }
    .happen{
        vertical-align: top;
        margin-top: 13px;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        border: 0;
        color: rgb(29, 14, 14);
        display: inline-block;
    }
    .tweet{
        color: white;
        background-color: rgb(35, 142, 225);
        border: 0;
        padding-left: 13px;
        padding-right: 13px;
        padding-top: 7px;
        padding-bottom: 7px;
        border-radius: 20px;
        vertical-align: top;
        margin-top: 15px;
        margin-left: 30px;
        cursor: pointer;
        transition: background-color 0.15s;
    }
    .tweet:hover{
        background-color: rgb(45, 189, 233);
    }
    .oliver-pic{
        height: 90px;
        width: 120;
        
    }
    .oliver{
        background-color: white;
        width:120px ;
        height: 170px;
        border: 1px solid rgb(246, 236, 236);
        display: inline-block;
        margin-bottom: 5px;
    }
    .dogesh-name,
    .rex-name,
    .mimi-name,
    .oliver-name{
        font-weight: bold;
        font-family: Arial;
        font-size: 13px;
        padding-left: 6px;
        margin-top: 7px;
        display: inline-block;
        margin-bottom: 5px;
    
    }

    .mutual{
        font-family: arial;
        font-size: 11px;
        padding-left: 7px;
        margin-top: 0;

    }
    .button-oliver{
        margin-left: 6px;
        background-color: rgb(53, 91, 208);
        color: white;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 10px;
        font-family: Arial;
        border: 0px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.15s;
    }
    .button-oliver:hover{
        background-color: rgb(57, 114, 212);
    }
    .mimi-pic{
         height: 90px;
        width: 120;
        
    }
    .mimi{
        margin-left: 7px;
         background-color: white;
        width:120px ;
        height: 170px;
        border: 1px solid rgb(246, 236, 236);
        display: inline-block;
        margin-bottom: 5px;
    }
    .rex-pic{
        height: 90px;
        width: 120;
    }
    .rex{
        margin-left: 7px;
         background-color: white;
        width:120px ;
        height: 170px;
        border: 1px solid rgb(246, 236, 236);
        display: inline-block;
        margin-bottom: 5px;

    }

    .dogesh{
         margin-left: 7px;
         background-color: white;
        width:120px ;
        height: 170px;
        border: 1px solid rgb(246, 236, 236);
        display: inline-block;
        margin-bottom: 5px;
    }
    .dogesh-pic{
         height: 90px;
        width: 120;
    }
    .showoff{
        background-color: green;
        border: 0px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 5px;
        color: white;
        font-family: Arial;
        font-weight: bold;
        cursor:pointer;
        transition: background-color 0.2s, color 0.2s;
    }
    .showoff:hover{
        background-color:white;
        color: green;
        border: 1px solid green;

    }
    